@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&family=Sorts+Mill+Goudy&display=swap');
* {
  /* box-sizing: border-box; */
  margin: 0px;
  padding: 0px;
}

html {
  font-size: calc(10px + 2vmin);
}

body {
  margin: 0px;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  position: relative;
  background-color: rgb(17, 17, 66);
}

.Homepage {
  min-height: 100vh;
  color: white;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: 'Rouge Script', cursive;
  margin: auto;
  display: grid;
}

.MenuPage {
    min-height: 100vh;
    color: white;
    background-size: contain;
    background-repeat: no-repeat;
    font-family: 'Rouge Script', cursive;
    margin: auto;
    display: grid;
  }

.singleFilm {
  color: white;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 2.2vmin;
  background-color: rgb(17, 17, 66);
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
  /* min-width: 100vw; */
 
}

#singleFilmGrid {
  display: grid;
  grid-template-columns: 1fr 1.8fr 1fr;
  grid-template-rows: 2fr 20fr 1fr;
  background-position: center center;
  background-size: cover; 
  background-repeat: no-repeat;
}

#tvContainer {
  grid-row: 2;
  grid-column: 2;
  display: flex;
}

#tvFrame {
  /* padding: 2rem; */
  align-self: center;
  justify-self: center;
  width: 100%;
}

.imageDiv {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  /* position: relative; */
  align-content: center;
}

#tvImage {
width: 100%;
align-self: center;
justify-self: center;
padding-right: 24%;
padding-left: 6%;
padding-bottom: 2.8%;
box-sizing: border-box;

}

#left-button-container {
  grid-row: 2;
  grid-column: 1;
  align-self: center;
  justify-self: center;
}

#left-button {
  background-color: rgb(17, 17, 66);
  color: white;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: .7rem;
  padding: 5px 40px;
  border-radius: 5px;
  margin: 5px 0px;
  cursor: pointer;
}

#right-button-container {
  grid-row: 2;
  grid-column: 3;
  align-self: center;
  justify-self: center;
}

#right-button {
  background-color: rgb(17, 17, 66);
  color: white;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: .7rem;
  padding: 5px 40px;
  border-radius: 5px;
  margin: 5px 0px;
  cursor: pointer;
}

.text {
  padding: 1rem;
  grid-row: 2;
  font-size: .8rem;
}

/*  -------- MEDIA QUERY -------- */
@media(max-width: 500px) {

  #singleFilmGrid {
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 1fr 7fr 1fr;
  }

  #left-button-container {
    grid-row: 3;
    grid-column: 2;
    align-self: center;
    justify-self: center;
  }

  #right-button-container {
    grid-row: 3;
    grid-column: 2;
    align-self: center;
    justify-self: center;
  }

  .text {
    font-size: 1rem;
  }

}